*.png
*.log
*.pyc
*.aux
*.pdf
build/
dist/
.DS_STORE
*.egg-info
*/.ipynb_checkpoints/*
*.egg*
test/msm_pptis_mfpt_elias.ipynb
test/msm_istar.ipynb
test/classification_results.csv
test/features_cache/
test/template_features_cache/